<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <img src="../../../assets/images/logos/logo.png" alt="AZRCloud" height="45px"/>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a target="_blank">Inicio</a>
      <a target="_blank">Sobre nosotros</a>
      <a target="_blank">Servicios</a>
      <a target="_blank">Formación</a>
      <a target="_blank">
        <button class="button">
            Contacto
        </button>
      </a>
    </div>
  </div>