<div class="container">
    <div class="text">
        <h1>Directo a la nube</h1>
        <span class="subtext">
            ¡Únete al cambio y sube tu compañía a la nube con nosotros! Despliega el verdadero potencial
        </span>
    <br/>
        <button class="button">
            Empieza ya
        </button>
    </div>
    <div class="image">
        <img src="../../../assets/images/uploading.png">
    </div>
</div>

<div class="container space">
    <div class="image">
        <img src="../../../assets/images/methodology.png">
    </div>
    <div class="text">
        <h1>Conoce el método</h1>
        <span class="subtext">
            Nuestra forma de trabajar se adapta a tus necesidades y siempre parte de un excelente estándar de calidad
        </span>
        <div>
            <img class="metodos" src="../../../assets/images/metodos.PNG">
        </div>
    </div>
</div>