@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800;900&display=swap');

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat';
}